@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.our-product-container{
    background: #462828;
    height: 190vh;
    /* width: 1px; */
    padding-bottom: px;
    padding-top: 40px;
    margin-left: 0 !important;
    margin-right: 0 !important;
} 

.group1{
    padding-top: 20px;
    display: grid;
    text-align: center;
}

.img1{
    width: 90%;
    /* height: ; */
    border-radius: 10px;
    cursor: pointer;
}

.img2{
    width: 90%;
    border-radius: 10px;
    cursor: pointer;
}

.img1:hover,
.img2:hover{
    transform: scale(1.02);
    transition: all 1s ease-in-out;
}

p{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.grid2{
    transform: translateY(100px);
}

.btn1 {
    height:4rem;
    /* border: 1px  solid white; */
}

.btn2 {
    padding: 0px 90px 0px 90px !important;
    border: 1px  solid white;
}

@media only screen and (max-width:600px){
    .our-product-container{
        height: 100%;
        padding-bottom: 50px;
    }

    .grid2{
        transform: translateY(0px);
    }
}