* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.musthave_container {
    background: #221313;
    height: 100%;
    padding-left: 7rem;
    padding-top: 7rem;
}

.musthaveTextChair {
    display: flex;
    height: fit-content;
    z-index: 3;
}

.musthaveText {
    width: 35rem;
    margin-right: 50px;
    display: flex;
    padding-bottom: 35rem;
    /* align-items: flex-start; */
    /* justify-content: center; */
}

.chairInMusthave {
    height: 40rem;
    border-radius: 23px;
    position: relative;
    z-index: 99;
}

.musthave--wrapper {
    /* animation: scroll 25s infinite; */
}

@keyframes scroll {
    0% {
        /* margin-right: 0px; */
        transform: translateX(0px);
    }

    75% {
        transform: translateX(-5000px);
    }

    100% {
        transform: translateX(5000px);
    }
}

.chair2InMusthave {
    padding-top: 15rem;
    border-radius: 23px !important;
    border-top-left-radius: 30px;
}

.lightImg2 {
    height: 23rem;
    margin-left: 5rem;
    margin-top: 15rem;
    /* margin-right: 5rem; */
}

.lightWrapper {
    padding-top: 6rem;
    padding-left: 15rem !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.light2-wrapper {
    margin-right: 7rem;
}

.lightImg {
    width: 30rem;
}

.wallImg {
    padding-left: 22rem;
    margin-top: -5%;
    /* padding-top: 10rem; */
}

.textUnderLight {
    font-size: 30px;
    width: 55%;
}

.section2InMusthave {
    display: flex !important;
    flex-direction: row;
    margin-top: -35%;
}

.doorImg {
    object-fit: contain;
    display: flex;
    margin-top: -40%;
    /* padding-left: 4rem; */
}

.doorWrapperInMusthave {
    display: flex;
    align-items: flex-start;
    /* padding-left: 10rem !important; */
}

.textUnderLight2 {
    text-align: left;
    padding-left: 25rem;
    font-size: 30px;
}

.textUnderTub {
    width: 50rem;
    margin-top: 3rem;
    font-size: 30px;
}

.musthaveButton {
    display: flex;
    justify-content: center;
    padding: 8rem 0px;
}

.circleOnChairInMusthave {
    background-color: white;
    width: .85rem;
    height: .85rem;
    border-radius: 50%;
    display: flex;
    position: absolute;
    right: 19vw;
    z-index: 99;
    bottom: 46vh;
    animation: pop 1.5s infinite;
}

.circleOnLight {
    background-color: white;
    width: .85rem;
    height: .85rem;
    border-radius: 50%;
    display: flex;
    position: absolute;
    right: 6vw;
    z-index: 99;
    top: 38vh;
    animation: pop 1.5s infinite;
}

.circleOnTub {
    background-color: white;
    width: .85rem;
    height: .85rem;
    border-radius: 50%;
    display: flex;
    position: absolute;
    right: 9vw;
    z-index: 99;
    top: 31vh;
    animation: pop 1.5s infinite;
}

.circleOnDoorInMusthave {
    background-color: white;
    width: .85rem;
    height: .85rem;
    border-radius: 50%;
    display: flex;
    position: absolute;
    left: 27vw;
    z-index: 99;
    top: 1vh;
    animation: pop 1.5s infinite;
}



@media (max-width:480px) {
    * {
        margin: 0px !important;
        padding: 0px !important;
        box-sizing: border-box !important;
        max-width: 480px !important;
    }

    .musthave_container {
        height: 100%;
        padding-top: 5rem !important;
    }

    .musthaveTextChair {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    .musthaveText {
        margin-bottom: 1rem !important;
        width: 25rem;
    }

    .chairInMusthave {
        height: 20rem;
        margin-bottom: 1rem !important;
    }

    .lightWrapper {
        height: fit-content;
        display: grid !important;
        place-items: center;
        padding: 0px !important;
    }

    .lightImg {
        width: 16rem;
        margin-top: 70px !important;
    }

    .textUnderLight {
        font-size: 20px !important;
        margin-bottom: 70px !important;
        text-align: center !important;
    }

    .tubWrapper {
        display: grid !important;
        place-items: center;
    }

    .tubImg {
        width: 25rem !important;
    }

    .textUnderTub {
        font-size: 20px !important;
        padding: 1rem 20px !important;
        width: auto;
        text-align: center;
    }

    .doorWrapperInMusthave {
        display: grid !important;
        place-items: center;
        padding: 0px !important;
        margin-bottom: 1rem !important;
    }

    .doorImg {
        margin-top: 0px !important;
        width: 16rem;
    }

    .btnWrapper {
        padding-bottom: 2rem !important;
    }

    .musthaveBtn {
        padding: 5px 20px !important;
        font-size: 15px !important;
    }

    .circleOnChairInMusthave,
    .circleOnLight,
    .circleOnTub,
    .circleOnDoorInMusthave {
        display: none;
    }

    .tubWrapper {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width:481px) and (max-width:768px) {
    * {
        padding: 0px !important;
        margin: 0px !important;
        box-sizing: border-box !important;
        max-width: 768px !important;
    }

    .musthave_container {
        padding-top: 3rem !important;
    }

    .textUnderLight {
        width: 90%;

    }

    .doorImg {
        margin: 0px !important;
    }

    .musthaveTextChair {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem !important;
    }

    .circleOnTub {
        background-color: white;
        width: .85rem;
        height: .85rem;
        border-radius: 50%;
        display: flex;
        position: absolute;
        right: 35vw;
        z-index: 99;
        top: 38vh;
        animation: pop 1.5s infinite;
    }

    .chairInMusthave {
        width: 30rem;
    }

    .section2InMusthave {
        margin-top: 0px !important;
    }

    .circleOnChairInMusthave {
        background-color: white;
        width: .85rem;
        height: .85rem;
        border-radius: 50%;
        display: flex;
        position: absolute;
        right: 62vw;
        z-index: 99;
        bottom: 53vh;
        animation: pop 1.5s infinite;
    }

    .lightWrapper {
        display: flex !important;
        align-items: center !important;
        padding-left: 0px !important;
        padding: 1rem !important;
        height: 100%;
    }

    .tubWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textUnderTub {
        width: 90%;
    }

    .circleOnLight {
        background-color: white;
        width: .85rem;
        height: .85rem;
        border-radius: 50%;
        display: flex;
        position: absolute;
        right: 42vw;
        z-index: 99;
        top: 30vh;
        animation: pop 1.5s infinite;
    }

    .musthaveText {
        margin-bottom: 2rem !important;
    }

    .musthave_container {
        padding-left: 0px !important;
        padding-bottom: 30px !important;
    }

    .doorWrapperInMusthave {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        padding-left: 0px !important;
    }

    .circleOnDoorInMusthave {
        background-color: white;
        width: .85rem;
        height: .85rem;
        border-radius: 50%;
        display: flex;
        position: absolute;
        left: 55vw;
        z-index: 99;
        top: 20vh;
        animation: pop 1.5s infinite;
    }

    .doorWrapperInMusthave {
        margin-bottom: 2rem !important;
    }

    .musthaveBtn {
        font-size: 25px !important;
        padding: 0.3rem 1rem !important;
    }
}

@media (min-width:769px) and (max-width:1439px) {
    .musthave_container {
        padding-left: 1px !important;
    }

    .musthaveText {
        width: 30vw !important;
    }

    .chairInMusthave {
        height: 35rem;
    }

    .chairInMusthave {
        width: 30vw !important;
    }

    .textUnderTub {
        font-size: 1.5rem !important;
    }

    .textUnderLight {
        font-size: 1.3rem !important;
    }

    .textUnderTub {
        padding-right: 17rem !important;
        font-size: 17px !important;
    }

    .tubImg {
        width: 31vw !important;
    }

    .doorImg {
        padding-left: 0px !important;
        margin-top: -4% !important;
    }

    .doorWrapperInMusthave {
        padding-left: 5rem !important;
    }

    .circleOnDoorInMusthave {
        top: 23vh !important;
    }
}

/* * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.musthave-section-container {
    background: #462828;
    height: 100%;
    padding-left: 7rem;
    padding-top: 7rem;
}

.light-wrapper {
    flex-direction: column !important;
    margin-left: 20rem;
}

.lightImg {
    width: 30rem;
    padding-top: 5rem;
}

.musthaveText {
    width: 35rem;
    display: flex;
    align-items: center;
    justify-content: center;
    ma
}

.chairInMusthave {
    height: 40rem;
    border-radius: 23px;
}

.textUnderLight {
    font-size: 27px;
    width: 80%;
} */