* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

.aboutMotomartContainer {
    padding: 0px 70px;
    padding-bottom: 50px;
}

.section1InAboutMotomart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 70px !important;
}

.section2InAboutMotomart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -20% !important;
}

.circleOnDoor {
    background-color: white;
    width: .85rem;
    height: .85rem;
    border-radius: 50%;
    display: flex;
    z-index: 99;
    position: absolute;
    left: 16vw;
    bottom: 45vh;
    animation: pop 1.5s infinite;
}

.basinCircle {
    background-color: white;
    width: .85rem;
    height: .85rem;
    border-radius: 50%;
    display: flex;
    z-index: 99;
    position: absolute;
    left: 12.5vw;
    bottom: 55vh;
    animation: pop 1.5s infinite;
}

.circleOnChair {
    background-color: white;
    width: .85rem;
    height: .85rem;
    border-radius: 50%;
    display: flex;
    z-index: 99;
    position: absolute;
    left: 30vw;
    top: 45vh;
    animation: pop 1.5s infinite;
}

.basinTapCircle {
    background-color: white;
    width: .85rem;
    height: .85rem;
    border-radius: 50%;
    display: flex;
    z-index: 99;
    position: absolute;
    left: 33vw;
    bottom: 75vh;
    animation: pop 1.5s infinite;
}

.door {
    z-index: 1;
    height: 35rem;
    margin-bottom: 70px;
}

.basin,
.door {
    border-radius: 20px;
}

.basin {
    height: 45rem;
}

.aboutMotomartText {
    margin-bottom: 50px;
}

.bottomOnAboutMotomart {
    padding: 10px 80px;
    width: 80%;
    border: none;
    border-radius: 10px !important;
}

.doorWrapperInAboutMotomart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}