* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}


.p1-container{
    background: #462828;
    height: 200vh;
    max-width: 100vw;
} 

.basin {
    height: 70%;
    border-radius: 20px;transform: translateY(-10px);
    cursor: pointer;
}

.basin:hover,
.door:hover{
    transform: scale(1.02);
    transition: all 1s ease-in-out;
}

.chair:hover{
    animation: bounce 1s ;
}

@keyframes bounce {
    0%{
        transform: translateY(-100px);
        transition: all 1s ease-in-out;
    }
    50%{
        transform: translateY(0px);
        transition: all 1s ease-in-out;
    }
    100%{
        transform: translateY(-100px);
        transition: all 1s ease-in-out;
    }
}
.text7 {
    font-size: 25px;
}

.about_motomart{
    width: 90%;
    
}

.chair{
    transform: translateY(-100px);
    width: 60%;
    height: 90%;
    cursor: pointer;
}

.door {
    width: 45%;
    border-radius: 20px;
    cursor: pointer;
}

.s-2{
    max-height: 100vh;
}

.s-1{
    display: grid;
    place-items: center;
}

.btn-op {
    padding: 10px 90px 10px 90px;
    transform: translateY(-160px)
    
}

.text2{
    font-family: 'Jacques Francois', serif;
}

@media only screen and (max-width:600px) {
    .basin {
        /* display: none; */
        width: 100px;
        display: grid;
        place-items: center;
        display: none;
    }
    .door {
        /* width: 100rem; */
        display: none;
    }

    .chair{
        transform: translateY(0px);
        width: 60%;
        height: 90%;
        padding-top: 50px;
    }

    .p1-container{
        height: 100%;
        max-width: 100vw;
    } 

    .btn-op {
        padding: 5px 10px 5px 10px;
        transform: translateY(0px);
        display: none;
    }
}