* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.About_sm {
    background: url(../../Assets/img/about_sm.png) no-repeat center center/cover;
    height: 70vh;
    position: relative;
    z-index: -99;
    padding-bottom: 20px;
}

.About_sm::after {
    content: '';
    width: 100%;
    height: 70vh;
    top: 0;
    left: 0;
    background: black;
    position: absolute;
    z-index: -69;
    opacity: 0.6;
}

.text1 {
    font-family: 'Jacques Francois', serif;
    font-size: 15px !important;
    text-align: left;
}

.suji {
    height: 15rem;
}

.about-sm {
    width: 35rem !important;
    /* background-color: red; */
    margin-bottom: 30px;
}


@media (max-width:600px) {
    .About_sm {
        height: 100%;
        padding-bottom: 3rem;
        padding: 3rem;
    }

    .About_sm::after{
        height: 100%;
    }


    .about-sm {
        width: 16rem !important;
        margin-top: 2rem;
        /* background-color: red; */
    }

    .ll{
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

}

@media (max-width:426px) {
    .about-sm {
        width: 14.5rem;
    }

    .text1 {
        font-size: 13px;
    }
}


/* Phone screen */
@media (min-width:426px) and (max-width:767px) {
    .about-sm {
        width: 20rem !important;
        /* background: red; */
    }
}

/* Tablets And Laptops */
@media (min-width:768px) and (max-width:1024px) {
    .about-sm {
        width: 20rem !important;
    }

    .about_text p {
        font-size: 11px !important;

    }

}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {}

/* Large Screens */
@media (min-width:1025px) {
    .about-sm {
        width: 40rem;
    }

    .text1 {
        font-size: 1.4rem;
    }

    .suji {
        height: 25rem;
    }

    .about_text {
        font-size: 100px !important;
    }

    .about_text p {
        font-size: 18px;
    }
}