* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* .musthave_container .circle {
    background-color: white;
    width: .85rem;
    height: .85rem;
    border-radius: 50%;
    display: flex;
    position: absolute;
    left: 12vw;
    top: 15vh;
    z-index: 99;
    animation: pop 1.5s infinite;
}


.text--chair,
.tub-wrapper,
.door-wrapper,
.light-wrapper {
    position: relative !important;
}

.musthave_container .circle1 {
    background-color: white;
    width: .85rem;
    height: .85rem;
    border-radius: 50%;
    display: flex;
    position: absolute;
    left: 43vw;
    top: 22vh;
    animation: pop 1.5s infinite;
}

.musthave_container .circle2 {
    background-color: white;
    width: .85rem;
    height: .85rem;
    border-radius: 50%;
    display: flex;
    position: absolute;
    left: 20vw;
    bottom: 22vh;
    animation: pop 1.5s infinite;
}

.musthave_container .circle3 {
    background-color: white;
    width: .85rem;
    height: .85rem;
    border-radius: 50%;
    display: flex;
    position: absolute;
    left: 17vw;
    top: 40vh;
    animation: pop 1.5s infinite;
    z-index: 99;
} */

/* .musthave_container {
    background: #221313;
    height: 100%;
    padding-top: 100px;
} */

/* .musthave {
    height: 10rem;
}

.chair3 {
    border-radius: 20px;
}



.door2,
.tub {
    width: 27em;
} */

/* .door_text {
    display: flex;
    align-items: baseline;
    margin-left: 30px;
}

.g2 {
    transform: translate(420px, 100px);
}

.g4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45% !important;
}

.g4 p {
    text-align: left;
    padding-right: 100px;
}

.musthave_foot {
    height: 15rem;
    width: 100%;
}

.btnc {
    margin-top: 100px;
    padding-top: 100px;
    margin-bottom: 100px;
    position: relative;
    cursor: pointer;
}

.btn11 {
    padding: 10px 30px 10px 30px;
    background: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    z-index: 99;
    display: flex;
    bottom: 0;
} */


/* Phones */
/* @media only screen and (max-width:426px) {
    .musthave {
        width: 20rem;
    }

    .chair3 {
        height: 20rem;
        margin-bottom: 2rem;
    }

    .g2 {
        transform: translate(0px, 0px);
    }

    .light {
        display: flex !important;
        height: 20rem !important;
        padding-bottom: 20px;
    }

    .g2 {
        display: flex;
        justify-content: center;
    }

    .musthave_container .circle,
    .musthave_container .circle1,
    .musthave_container .circle2,
    .musthave_container .circle3 {
        display: none;
        visibility: hidden;
    }

    .tub {
        width: 20rem;
        transform: translateX(0px) !important;
    }

    .tub-wrapper {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .g4 {
        width: 100% !important;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .g4 p {
        padding-right: 5px;
        text-align: center;
    }

    .door2 {
        width: 20rem;
    }

    .musthave_container .part22 {
        display: grid !important;
        place-items: center !important;

    }

    .door_text {
        display: flex;
        align-items: baseline;
        margin-top: 10px;
        margin-left: 0px;

    }

}

 */

/* small Sreens */
/* @media (min-width:770px) and (max-width:1024px) {

    .g2 {
        transform: translate(0px, 0px) !important;
    }


    .door2 {
        height: 25rem;
        width: 22rem;
    }

    .door_text {
        margin-top: 0px !important;
        margin-left: 0px;
    }

    .musthave_container .circle {
        background-color: white;
        width: .85rem;
        height: .85rem;
        border-radius: 50%;
        display: flex;
        position: absolute !important;
        left: 24vw !important;
        bottom: 42vh;
        animation: pop 1.5s infinite;
    } */

/* .musthave_container .light-circle {
        background-color: white;
        width: .85rem;
        height: .85rem;
        border-radius: 50%;
        display: flex;
        position: absolute;
        left: 37vw;
        top: 42vh;
        animation: pop 1.5s infinite;
    }

    .text--chair,
    .tub-wrapper,
    .door-wrapper {
        position: relative !important;
    }

    .musthave_container .chair-circle {
        background-color: white;
        width: .85rem;
        height: .85rem;
        border-radius: 50%;
        display: flex;
        position: absolute;
        left: 17vw !important;
        bottom: 43vh !important;
        animation: pop 1.5s infinite;
    }

    .musthave_container .circle2 {
        background-color: white;
        width: .85rem;
        height: .85rem;
        border-radius: 50%;
        display: flex;
        position: absolute;
        left: 17vw !important;
        z-index: 99;
        top: 33vh !important;
        animation: pop 1.5s infinite;
    }

} */


/* Tablets  to Laptops Screens*/
/* @media (min-width: 768px) and (max-width:1023px) {
    .d1 p {
        display: flex;
        text-align: left;
        align-items: center;
        margin-left: 20px;
    }

    .chair3 {
        z-index: 99;
    }

    .light {
        display: flex;
        padding: 10px;
        width: 27rem;
        height: 35rem;
    }

    .g2 {
        display: flex !important;
        justify-content: center !important;
    }

    .musthave_container .part11 {
        margin-left: 100px !important;
        margin-bottom: 100px;
    }

    .g4 {
        z-index: -99;
    }

    .g4 p {
        width: 80%;
        text-align: center;
    }

    .musthave_container {
        max-width: 900px;
    }

    .musthave_container .circle,
    .musthave_container .circle1,
    .musthave_container .circle2,
    .musthave_container .circle3 {
        display: none;
        visibility: hidden;
    }

} */

/* 4k screens */
/* @media (min-width:2560px) {
    .musthave {
        width: 40rem;
        height: 17rem;
    }

    .chair3 {
        width: 40rem;
    }

    .light {
        width: 30rem;
        transform: translate(380px, 95px);
    }

    .tub {
        width: 50rem;
    }

    .tub-text {
        font-size: 30px;
        width: 80%;
    }

    .d1 .door2 {
        width: 40rem;
        height: 50rem;
    }

    .d1 .door_text {
        display: flex;
        align-items: flex-end;
        text-align: left;
        width: 40%;
        font-size: 30px;
    }

    .btn11 {
        padding: 20px 200px 20px 200px;
        font-size: 30px;
    }
} */


/* large laptop Screen */
/* @media (min-width:1024px) and (max-width:1440px) {
    }

    .door-wrapper {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;

    }

    .musthave_container .circle {
        background-color: white;
        width: .85rem;
        height: .85rem;
        border-radius: 50%;
        display: flex !important;
        position: absolute;
        left: 17vw;
        top: 11vh !important;
        animation: pop 1.5s infinite;
    } */

/* .text--chair {
        margin-bottom: 40px !important;
    }

    .chair3 {
        height: 34rem !important;
    }

    .tub-wrapper {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .tub {
        transform: translateX(0px) !important;
    } */

/* .tub-text {
        width: 75% !important;
        padding-right: 0px !important;
    } */

/* .light-wrapper {
        width: 100% !important;
        margin-bottom: 30px !important;
    }

    .light {
        display: flex !important;
        height: 34rem !important;
        object-fit: contain !important;
    } */

/* .musthave_container .circle {
        background-color: white;
        width: .85rem;
        height: .85rem;
        border-radius: 50%;
        display: flex;
        position: absolute !important;
        left: 24vw !important;
        bottom: 42vh;
        animation: pop 1.5s infinite;
    }

    .musthave_container .light-circle {
        background-color: white;
        width: .85rem;
        height: .85rem;
        border-radius: 50%;
        display: flex;
        position: absolute;
        left: 13vw;
        top: 42vh;
        animation: pop 1.5s infinite;
        z-index: 99 !important;
    }

    .text--chair,
    .tub-wrapper,
    .door-wrapper,
    .light-wrapper {
        position: relative !important;
    }

    .musthave_container .chair-circle {
        background-color: white;
        width: .85rem;
        height: .85rem;
        border-radius: 50%;
        display: flex;
        position: absolute;
        left: 38vw !important;
        bottom: 50vh !important;
        animation: pop 1.5s infinite;
    }

    .musthave_container .circle2 {
        background-color: white;
        width: .85rem;
        height: .85rem;
        border-radius: 50%;
        display: flex;
        position: absolute;
        left: 27vw !important;
        z-index: 99;
        top: 39vh !important;
        animation: pop 1.5s infinite;
    }
}

@media (min-width:1441px) {
    .light {
        transform: translateX(200px);
        width: 30rem;
    } */

/* .door_text {
        text-align: left;
        align-items: flex-end;
        width: 20rem;

    }

    .tub {
        width: 35rem;
    }

    .door2 {
        width: 27rem;
    }
} */

/* tablet */

/* @media (min-width:480px) and (max-width:769px) {
    .door_text {
        width: 75% !important;
        margin-top: auto;
    }

    .door-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100% !important;
    }

    .part22 {
        display: flex !important;
    }

    .tub-wrapper {
        width: 100% !important;
        margin-bottom: 20px;
    }

    .tub {
        transform: translateX(0px) !important;
        display: grid !important;
        place-items: center !important;
    }

    .tub-text {
        text-align: center !important;
        padding-right: 0px !important;
    }

    .g4 {
        height: fit-content !important;
        display: flex !important;
        z-index: 99 !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .light-wrapper {
        display: flex !important;
        transform: translate(0px) !important;
        margin-bottom: 20px;
        width: 100% !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .musthave_container .part11 {
        display: grid !important;
        margin-bottom: auto !important;
        margin-left: 0px !important;
    }

    .text--chair {
        width: 100% !important;
        margin-bottom: 20px;
    }

} */

.musthave_container {
    background: #221313;
    height: 100%;
    padding-left: 7rem;
    padding-top: 7rem;
}

.musthaveTextChair {
    display: flex;
    margin-top: -10%;
    height: fit-content;
    z-index: 3;
}

.musthaveText {
    width: 35rem;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chairInMusthave {
    height: 40rem;
    border-radius: 23px;
}

.lightWrapper {
    padding-top: 8rem;
    padding-left: 60px !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.lightImg {
    width: 30rem;
}


.textUnderLight {
    font-size: 27px;
    width: 80%;
    margin-top: 30px;
}

.section2InMusthave {
    display: flex !important;
    flex-direction: row;
    margin-top: -14% !important;
}

.tubWrapper {
    margin-top: 28px !important;
}


.doorImg {
    margin-top: -15% !important;
    display: flex;
    padding-left: 4rem;
}

.doorWrapperInMusthave {
    display: flex;
    align-items: flex-start;
    padding-left: 10rem !important;
}

.textUnderTub {
    width: 50rem;
    margin-top: 3rem;
    font-size: 30px;
}

.musthaveButton {
    display: flex;
    justify-content: center;
    padding: 8rem 0px;
}

.circleOnChairInMusthave {
    background-color: white;
    width: .85rem;
    height: .85rem;
    border-radius: 50%;
    display: flex;
    position: absolute;
    right: 19vw;
    z-index: 99;
    bottom: 46vh;
    animation: pop 1.5s infinite;
}

.circleOnLight {
    background-color: white;
    width: .85rem;
    height: .85rem;
    border-radius: 50%;
    display: flex;
    position: absolute;
    right: 6vw;
    z-index: 99;
    top: 38vh;
    animation: pop 1.5s infinite;
}

.circleOnTub {
    background-color: white;
    width: .85rem;
    height: .85rem;
    border-radius: 50%;
    display: flex;
    position: absolute;
    right: 9vw;
    z-index: 99;
    top: 31vh;
    animation: pop 1.5s infinite;
}

.circleOnDoorInMusthave {
    background-color: white;
    width: .85rem;
    height: .85rem;
    border-radius: 50%;
    display: flex;
    position: absolute;
    left: 27vw;
    z-index: 99;
    top: 1vh;
    animation: pop 1.5s infinite;
}



@media (max-width:480px) {
    * {
        margin: 0px !important;
        padding: 0px !important;
        box-sizing: border-box !important;
        max-width: 480px !important;
    }

    .musthave_container {
        height: 100%;
        padding-top: 5rem !important;
    }

    .musthaveTextChair {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }

    .musthaveText {
        margin-bottom: 1rem !important;
        width: 25rem;
    }

    .chairInMusthave {
        height: 20rem;
        margin-bottom: 1rem !important;
    }

    .lightWrapper {
        display: grid !important;
        place-items: center;
        padding: 0px !important;
    }

    .lightImg {
        width: 16rem;
    }

    .textUnderLight {
        font-size: 20px !important;
    }

    .tubWrapper {
        display: grid !important;
        place-items: center;
    }

    .tubImg {
        width: 25rem !important;
    }

    .textUnderTub {
        font-size: 20px !important;
        padding: 1rem 20px !important;
        text-align: center;
    }

    .doorWrapperInMusthave {
        display: grid !important;
        place-items: center;
        padding: 0px !important;
        margin-bottom: 1rem !important;
    }

    .doorImg {
        margin-top: 0px !important;
        width: 16rem;
    }

    .btnWrapper {
        padding-bottom: 2rem !important;
    }

    .musthaveBtn {
        padding: 5px 20px !important;
        font-size: 15px !important;
    }

    .circleOnChairInMusthave,
    .circleOnLight,
    .circleOnTub,
    .circleOnDoorInMusthave {
        display: none;
    }

    .tubWrapper {
        display: flex !important;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width:481px) and (max-width:768px) {
    * {
        padding: 0px !important;
        margin: 0px !important;
        box-sizing: border-box !important;
        max-width: 768px !important;
    }

    .musthave_container {
        padding-top: 3rem !important;
    }

    .textUnderLight {
        width: 90%;

    }

    .doorImg {
        margin: 0px !important;
    }

    .musthaveTextChair {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem !important;
    }

    .circleOnTub {
        background-color: white;
        width: .85rem;
        height: .85rem;
        border-radius: 50%;
        display: flex;
        position: absolute;
        right: 35vw;
        z-index: 99;
        top: 38vh;
        animation: pop 1.5s infinite;
    }

    .chairInMusthave {
        width: 30rem;
    }

    .section2InMusthave {
        margin-top: 0px !important;
    }

    .circleOnChairInMusthave {
        background-color: white;
        width: .85rem;
        height: .85rem;
        border-radius: 50%;
        display: flex;
        position: absolute;
        right: 62vw;
        z-index: 99;
        bottom: 53vh;
        animation: pop 1.5s infinite;
    }

    .lightWrapper {
        display: flex !important;
        align-items: center !important;
        padding-left: 0px !important;
        padding: 1rem !important;
        height: 100%;
    }

    .tubWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .textUnderTub {
        width: 90%;
    }

    .circleOnLight {
        background-color: white;
        width: .85rem;
        height: .85rem;
        border-radius: 50%;
        display: flex;
        position: absolute;
        right: 42vw;
        z-index: 99;
        top: 30vh;
        animation: pop 1.5s infinite;
    }

    .musthaveText {
        margin-bottom: 2rem !important;
    }

    .musthave_container {
        padding-left: 0px !important;
        padding-bottom: 30px !important;
    }

    .doorWrapperInMusthave {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        padding-left: 0px !important;
    }

    .circleOnDoorInMusthave {
        background-color: white;
        width: .85rem;
        height: .85rem;
        border-radius: 50%;
        display: flex;
        position: absolute;
        left: 55vw;
        z-index: 99;
        top: 20vh;
        animation: pop 1.5s infinite;
    }

    .doorWrapperInMusthave {
        margin-bottom: 2rem !important;
    }

    .musthaveBtn {
        font-size: 25px !important;
        padding: 0.3rem 1rem !important;
    }
}

@media (min-width:769px) and (max-width:1800px) {
    .musthave_container {
        padding-left: 1px !important;
    }

    .musthaveText {
        width: 25rem !important;
    }

    .chairInMusthave {
        height: 35rem;
    }

    .textUnderTub {
        font-size: 1.5rem !important;
    }

    .textUnderLight {
        font-size: 1.3rem !important;
    }

    .textUnderTub {
        padding-right: 16rem !important;
    }

    .tubImg {
        width: 30rem !important;
    }

    .doorImg {
        height: 35rem !important;
    }

    .doorWrapperInMusthave {
        padding-left: 5rem !important;
    }
}