* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.footer-container{
    background-color: #462828;
    color: white;
}

.info {
    padding: 20px;
    border: 2px solid white;
}



li {
    list-style: none;
    cursor: pointer;
}

.info-a {
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    width: 100%;
}


.list1{
    text-align: left;
}

.list1 ul {
    padding-left: 0px;
    font-weight: lighter;
    
}


.info-a ul a {
    text-decoration: none;
    color: white;
}

.info-a ul a li{
    font-weight: lighter;
    font-size: small;
}

.btn10 {
    background: transparent;
    border: 1px solid white !important;
    border-radius: 0 !important;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

.sec2 p,
.sec2 p span{
    font-size: small;
    font-weight: lighter;
    text-align: right;
}

input::placeholder,
textarea::placeholder{
    color: white;
    font-family: 'Inter', sans-serif !important;
    font-weight: 10;
    font-size: small;
}

input,
textarea{
    /* background-color: ; */
    background: #673B3B;
    border: 0px solid white;

}

.footer-container .motomart-logo{
    width: 15rem;
}

.footer-container .icons{
    font-size: 2rem;
    gap: 50px !important;
}

.bottom p{
    font-size: 15px !important;
    font-weight: lighter !important;

}

/* For Mobile phone screens */
@media (max-width:600px) {
    .info-a {
        display: flex;
        border-top: 2px white solid;
        border-bottom: 2px white solid;
        justify-content: center;
        text-align: center !important;
        margin-left: 0px !important;
    }   


    .icons{
        margin-top: 20px !important;
    }

    .sec2 p span{
        font-size: 13px;
        text-align: center !important;
    }
    .list1 {
        padding-left: 0px !important;
        text-align: center;
    }

    .form_g{
        width: 100%;
    }

    .form_g:first-child{
        margin-bottom: 10px;
    }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
    .form_head{
        display: flex;
        gap: 10px;
        padding-bottom: 10px; 
    }

    .form_head .g3 {
        width: 100%;
    }

    .form_head .g5{
        width: 90%;
    }

    ul{
        padding-left: 0px;
    }

    .info-a .list1 {
        text-align: left;
    }

    .l3{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer-container .ll{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .footer-container .icons{
        width: 100%;
    }
}

@media (min-width: 1281px) and (max-width:2559px){
    .form_head{
        display: flex;
        padding-bottom: 10px;
    }
    .g5{
        width: 95%;
    }
   
}

@media (min-width:2560px){
    .form_head{
        display: flex;
        padding-bottom: 10px;
    }

    .g5
    {
        width: 95% !important;
    }

    .footer-container input,
    .footer-container textarea{
        padding: 20px 30px !important;
    }

    .f4, .f4 a li{
        font-size: 20px !important;
    }

    .g5{
        width: 100%;
    }
}



