* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.footer-container{
    background-color: #462828;
    color: white;
}

.info {
    padding: 20px;
    border: 2px solid white;
}

li {
    list-style: none;
    cursor: pointer;
}

.info-a {
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    width: 100%;
}

.info-a ul a {
    text-decoration: none;
    color: white;
}

.btn10 {
    background: transparent;
    border: 1px solid white !important;
    border-radius: 0 !important;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 20px 10px 20px;
}

.sec2 p,
.sec2 p span{
    font-size: 15px;
    font-weight: normal;
}

input::placeholder,
textarea::placeholder{
    color: white;
    font-family: 'Inter', sans-serif !important;
    font-weight: 10;
}

input,
textarea{
    background-color: ;
    background: #673B3B;
    border: 0px solid white;

}

/* For Mobile phone screens */
@media only screen and (max-width:600px) {
    .info-a {
        display: flex;
        border-top: 2px white solid;
        border-bottom: 2px white solid;
        justify-content: center;
        margin-left: 0px !important;
        /* width: 100%; */
    }   

    .sec2 p span{
        font-size: 13px;
    }
    .list1 {
        padding-left: 0px !important;
    }
}