* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}



.full a {
    font-weight: 400;
}

.drop-down {
    /* background-color: red; */
    display: none;
    /* visibility: hidden; */
}

p {
    margin-bottom: 0 !important;
}

.dropdown--wrapper {
    padding: 20px !important;
}

.icons--in--dropdown {
    margin-top: 10px !important;
}

.navbar-wrapper {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    text-align: right;
}

.part1 {
    transform: translateY(50px);
}


@media only screen and (max-width:600px) {
    .empty {
        display: none;
    }

    .full {
        display: flex;
        text-align: center;
        justify-content: center;
    }
}



/* Large Screens */
@media (min-width:2559px) {
    .motomart-logo {
        width: 12rem !important;
        height: 5rem;
    }

}

/* Mobile to tablet */
@media (max-width: 800px) {
    .links--icons {
        visibility: hidden;
        display: none !important;
    }

    .navbar--wrapper {
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }

    .navbar-logo {
        display: flex !important;
        justify-content: space-between !important;
    }

    .dropdown {
        display: flex !important;
        justify-content: center !important;
        background-color: transparent;
    }

    .arrow-off::after {
        display: none !important;
    }

    /* .arrow-off::after */
    .drop-item:hover {
        background-color: #462828 !important;
        color: white !important;
    }
}

@media (min-width:768px) and(max-width:1030px) {
    .links--icons {
        background-color: red !important;
    }


}