*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar_links {
    display: flex;
    gap: 50px;
    cursor: pointer;
    z-index: 99;
}

.navbar_links:hover{
    color: #462828;
}

p{
    margin-bottom: 0 !important;
}

.navbar-wrapper{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    text-align: right;
}

@media only screen and (max-width:600px){
    .empty{
        display: none;
    }

    .full {
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .navbar_links {
        gap: 30px;
        
    }
    .navbar_links p {
        display: flex;
        padding-top: 10px;
        font-size: 13px !important;
    }
    
    .icons{
        display: flex;
        margin-top: 10px;
        justify-content: center;
    }
}